<div [formGroup]="form!">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label class="input-label">EMAIL</mat-label>
    <input
      matInput
      placeholder="[Required]"
      name="email"
      formControlName="email"
      required
    />
    <mat-error>{{ getErrorMessage('email') }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label class="input-label">PASSWORD</mat-label>
    <input
      type="password"
      matInput
      placeholder="[Required]"
      name="password"
      formControlName="password"
      required
      #password
    />
    <mat-error>{{ getErrorMessage("password") }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label class="input-label">VERIFY PASSWORD</mat-label>
    <input
      type="password"
      matInput
      name="passwordConfirm"
      placeholder="[Required]"
      formControlName="passwordConfirm"
      pattern="{{ password.value }}"
      required
    />
    <mat-error>{{ getErrorMessage("passwordConfirm") }}</mat-error>
  </mat-form-field>
</div>
