/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import "app/styles/main.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Roboto", sans-serif;
  font-weight: 100;
}
